.search-container {
  text-align: center;
  h2 {
    margin-top: 20px;
  }
  .search__input {
    margin: 20px;
    padding: 6px 15px;
    font-size: 14px;
    border: 2px solid $PortoRikoDay;
    border-radius: 4px;
    opacity: 0.7;
  }
  .search__input:focus {
    outline: none;
  }
}
