.categories-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.slick-slide div .thumbnail-container {
  width: 100%;
}

.slick-next:before,
.slick-prev:before {
  color: $PortoRikoDay;
  font-size: 40px;
  font-weight: bold;
  padding: 30px 0px;
}

.slick-prev:before {
  content: "<";
}

.slick-next:before {
  content: ">";
}

.slick-dots {
  bottom: -20px;
  li {
    margin: 0 3px;
  }
}

.slick-dots li button:before {
  font-size: 40px;
}
